{% extends 'base.html' %}
{% load static %}

{% block head-import %}
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}

{% block header-nav %}
<div class="search-group">
    <div class="search-group-border">
        <input type="text" placeholder="Tên sản phầm tìm kiếm...">
        <button type="submit" class="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
    </div>
</div>
<div class="nav-group">
    <nav class="nav-item">
        <ul class="nav-item-group">
            <!-- Sign in / sign out button -->
            {% if request.session.user.user_name %}
            <li><span>{{ request.session.user.user_name }}</span></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="fas fa-user fa-2x"></a></li>
            {% endif %}

            <!-- Cart button -->
            <li class="li-cart"><a href="{% url 'order' %}" class="cart-icon fas fa-shopping-cart fa-2x"></a>
                <span id="product-num-in-cart" class="cart-item">
                    {% if request.session.cart %}
                    {{ request.session.cart.total }}
                    {% else %}
                    0
                    {% endif%}
                </span>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block header-mobile-nav %}
<ul>
    <!-- Sign in / sign out button -->
    {% if request.session.user.user_name %}
    <li><span>{{ request.session.user.user_name }}</span></li>
    {% else %}
    <li><a href="{% url 'login' %}" class="fas fa-user fa-2x"></a></li>
    {% endif %}

    <!-- Cart button -->
    <li class="li-cart"><a href="{% url 'order' %}" class="cart-icon fas fa-shopping-cart fa-2x"></a>
        <span id="product-num-in-cart" class="cart-item">
            {% if request.session.cart %}
            {{ request.session.cart.total }}
            {% else %}
            0
            {% endif%}
        </span>
    </li>
</ul>
{% endblock %}

{% block container %}
<section id="slide-1">
    <div class="home-slide owl-carousel owl-theme">
        <div class="item owl-slide item-bg-1">
            <div class="static-wrapper">
                <div class="owl-slide-text">
                    <h2 class="owl-slide-animated owl-slide-title">VinaMart Kurume</h2>
                </div>
                <div class="owl-slide-animated owl-slide-subtitle">
                    <p class="slide-subtitle">福岡県久留米市東町40―1小斉ビル2階<br/>(Fukuoka ken- Kurume Shi- Higashi machi 40-1 syousai biru 2F)<br/>Cách ga Nishitetsu Kurume 50m</p>
                </div>
                <div class="div-fb-logo-telephone">
                    <a class="owl-slide-animated owl-slide-cta" href="https://www.facebook.com/VINAMARTKURUME"><i class="fab fa-facebook">Vinamart Kurume</i></a>
                    <div class="owl-slide-animated owl-slide-cta telephone-div">
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hùng) 08092560564</i>
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hà) 07042848288</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="item owl-slide item-bg-2">
            <div class="static-wrapper right-side">
                <div class="owl-slide-text">
                    <h2 class="owl-slide-animated owl-slide-title">VinaMart Kurume</h2>
                </div>
                <div class="owl-slide-animated owl-slide-subtitle">
                    <p class="slide-subtitle">福岡県久留米市東町40―1小斉ビル2階<br/>(Fukuoka ken- Kurume Shi- Higashi machi 40-1 syousai biru 2F)<br/>Cách ga Nishitetsu Kurume 50m</p>
                </div>
                <div class="div-fb-logo-telephone right-side">
                    <a class="owl-slide-animated owl-slide-cta" href="https://www.facebook.com/VINAMARTKURUME"><i class="fab fa-facebook">Vinamart Kurume</i></a>
                    <div class="owl-slide-animated owl-slide-cta telephone-div">
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hùng) 08092560564</i>
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hà) 07042848288</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end slide-1 -->

<section id="slide-2">
    <div class="wrapper-slide-2">
        <ul class="slide-2-ul">
            <li>
                <div class="wrapper-li">
                    <div class="li-icon-block">
                        <img src="{% static 'images/market_30x30_crop_center.png ' %}" alt="icon-1">
                    </div>
                    <div class="li-text">
                        <h3>100% an toàn</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper-li">
                    <div class="li-icon-block">
                        <img src="{% static 'images/home-delivery_30x30_crop_center.png ' %}" alt="icon-2">
                    </div>
                    <div class="li-text">
                        <h3>vận chuyển miễn phí</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper-li no-border-right">
                    <div class="li-icon-block">
                        <img src="{% static 'images/support_1_30x30_crop_center.png ' %}" alt="icon-3">
                    </div>
                    <div class="li-text">
                        <h3>hỗ trợ mọi lúc</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section> <!-- end slide-2 -->

<!-- section category alongside product -->
<section class="product-area">
    <div class="product-area-text">
        <h2><span>Sản phẩm của cửa hàng</span></h2>
    </div>

    <div class="product-are-container">
    {% for key, value in data.items %}
        {% if value %}

            <div class="category-wrapper">
                <!-- Show category name-->
                <div class="category-header">
                    <h1>{{ key }}</h1>
                </div>

                <!-- Show product belong to category -->
                <ul class="category-items">
                {% for item in value %}
                    <li class="item-wrapper">
                        <div class="item-row-1">
                            <!-- Show product information -->
                            <div class="item-title">
                                <h3>{{ item.fullName }}</h3>
                                <div class="item-subtitle-wrapper">
                                    <i class="fas fa-calculator">1  {{ item.unit }}</i>
                                    <i class="fas fa-box-open">{{ item.inventory }}</i>
                                </div>
                            </div>
                            <div class="item-price">
                                <span>{{ item.price }}¥</span>
                            </div>

                            <!-- Add product to cart-->
                            <div class="item-order">
                                <form action="{% url 'add_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="productId" value="{{ item.productId }}">
                                    <button id="btn-add-prduct-cart" class="zmdi zmdi-shopping-cart-plus"></button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul> <!-- end of category -->
            </div>
        {% endif %}
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block lorem %}
<p class="title-lorem">
    <span>Cửa hàng chúng tôi có đáp ứng được nhu cầu của bạn không?.</span><br><span>Hãy gửi cho chúng tôi sản phẩm các bạn mong muốn. Góp ý của các bạn sẽ giúp chúng tôi phục vụ tốt hơn.</span>
</p>
{% endblock %}

{% block js-import %}
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app-custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
