{% extends 'base.html' %}
{% load static %}


{% block head-import %}
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}

{% block header-nav %}
<div class="search-group">
    <div class="search-group-border">
        <input type="text" placeholder="Tên sản phầm tìm kiếm...">
        <button type="submit" class="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
    </div>
</div>
<div class="nav-group">
    <nav class="nav-item">
        <ul class="nav-item-group">
            <li>
                <a href="{% url 'login' %}" class="fas fa-user fa-2x"></a>
            </li>
            <li class="li-cart"><i class="cart-icon fas fa-shopping-cart fa-2x"></i><span class="cart-item">0</span></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block header-mobile-nav %}
<ul>
    <li><i class="fas fa-search fa-2x"></i></li>
    <li class="li-cart"><i class="cart-icon fas fa-shopping-cart fa-2x"></i><span class="cart-item">0</span></li>
</ul>
{% endblock %}

{% block container %}
<section id="slide-1">
    <div class="home-slide owl-carousel owl-theme">
        <div class="item owl-slide item-bg-1">
            <div class="static-wrapper">
                <div class="owl-slide-text">
                    <h2 class="owl-slide-animated owl-slide-title">VinaMart Kurume</h2>
                </div>
                <div class="owl-slide-animated owl-slide-subtitle">
                    <p class="slide-subtitle">福岡県久留米市東町40―1小斉ビル2階<br/>(Fukuoka ken- Kurume Shi- Higashi machi 40-1 syousai biru 2F)<br/>Cách ga Nishitetsu Kurume 50m</p>
                </div>
                <div class="div-fb-logo-telephone">
                    <a class="owl-slide-animated owl-slide-cta" href="https://www.facebook.com/VINAMARTKURUME"><i class="fab fa-facebook">Vinamart Kurume</i></a>
                    <div class="owl-slide-animated owl-slide-cta telephone-div">
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hùng) 08092560564</i>
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hà) 07042848288</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item owl-slide item-bg-2">
            <div class="static-wrapper right-side">
                <div class="owl-slide-text">
                    <h2 class="owl-slide-animated owl-slide-title">VinaMart Kurume</h2>
                </div>
                <div class="owl-slide-animated owl-slide-subtitle">
                    <p class="slide-subtitle">福岡県久留米市東町40―1小斉ビル2階<br/>(Fukuoka ken- Kurume Shi- Higashi machi 40-1 syousai biru 2F)<br/>Cách ga Nishitetsu Kurume 50m</p>
                </div>
                <div class="div-fb-logo-telephone right-side">
                    <a class="owl-slide-animated owl-slide-cta" href="https://www.facebook.com/VINAMARTKURUME"><i class="fab fa-facebook">Vinamart Kurume</i></a>
                    <div class="owl-slide-animated owl-slide-cta telephone-div">
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hùng) 08092560564</i>
                        <i class="owl-slide-animated owl-slide-cta fas fa-phone-alt">(Hà) 07042848288</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slide-1 -->
</section>
<section id="slide-2">
    <div class="wrapper-slide-2">
        <ul class="slide-2-ul">
            <li>
                <div class="wrapper-li">
                    <div class="li-icon-block">
                        <img src="{% static 'images/market_30x30_crop_center.png ' %}" alt="icon-1">
                    </div>
                    <div class="li-text">
                        <h3>100% an toàn</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper-li">
                    <div class="li-icon-block">
                        <img src="{% static 'images/home-delivery_30x30_crop_center.png ' %}" alt="icon-2">
                    </div>
                    <div class="li-text">
                        <h3>vận chuyển miễn phí</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper-li no-border-right">
                    <div class="li-icon-block">
                        <img src="{% static 'images/support_1_30x30_crop_center.png ' %}" alt="icon-3">
                    </div>
                    <div class="li-text">
                        <h3>hỗ trợ mọi lúc</h3>
                        <p class="hidden-mobile">ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="product-area">
    <div class="product-area-text">
        <h2><span>Sản phẩm của cửa hàng</span></h2>
    </div>
    <div class="product-are-container">
        {% for key, value in data.items %} {% if value %}
        <div class="category-wrapper">
            <div class="category-header">
                <h1>{{ key }}</h1>
            </div>

            <ul class="category-items">
                {% for item in value %}
                <li class="item-wrapper">
                    <div class="item-row-1">
                        <div class="item-title">
                            <h3>{{ item.fullName }}</h3>
                            <div class="item-subtitle-wrapper">
                                <i class="fas fa-calculator">1  {{ item.unit }}</i>
                                <i class="fas fa-box-open">{{ item.inventory }}</i>
                            </div>
                        </div>
                        <div class="item-price">
                            <span>{{ item.price }}¥</span>
                        </div>
                        <div class="item-order">
                            <i class="zmdi zmdi-shopping-cart-plus"></i>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
</section>
{% endblock %}
{% block lorem %}
<p class="title-lorem">
    <span>Cửa hàng chúng tôi có đáp ứng được nhu cầu của bạn không?.</span><br><span>Hãy gửi cho chúng tôi sản phẩm các bạn mong muốn. Góp ý của các bạn sẽ giúp chúng tôi phục vụ tốt hơn.</span>
</p>
{% endblock %}
                

{% block js-import %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
{% endblock %}
