{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}



{% block head-import %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block container %}
<div class="wrapper-container">
    <div class="login-container d-flex justify-content-center">
        <div class="login">

            <div class="login-header">
                <h3>Đăng nhập</h3>
                <!-- Login with social accounts -->
                <div class="login-header-social-icon">
                    <a href="{% provider_login_url 'facebook' method='oauth2' %}"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <span><i class="fab fa-google-plus-square fa-2x"></i></span>
                    <span><i class="fab fa-twitter-square fa-2x"></i></span>
                </div>
            </div>

            <div class="login-body">
                <!-- Form data login -->
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <!-- User Name -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="user_name" type="text" class="form-control" placeholder="Tài Khoản" required>
                    </div>

                    <!-- Password -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="password" type="password" class="form-control" placeholder="Mật Khẩu" required>
                    </div>

                    <div class="row align-items-center remember">
                        <input type="checkbox">Ghi nhớ thông tin
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Xác Nhận" class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <!-- Redirect to sign up-->
            <div class="login-footer">
                <div class="justify-content-center">
                    Bạn không có tài khoản?
                    <a href="{% url 'regist_user' %}">Đăng ký</a>
                </div>
                <div class="justify-content-center">
                    <a href="#">Bạn đã quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}